<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <title>Quasar App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://unpkg.com/quasar-framework@0.15.0-alpha.4/dist/quasar.{{theme}}{{#rtl}}.rtl{{/rtl}}{{#minified}}.min{{/minified}}.css" rel="stylesheet" type="text/css">
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="q-app">
      <q-layout view="lHh Lpr fff">
        <q-layout-header>
          <q-toolbar class="glossy">
            <q-btn flat round dense @click="drawerState = !drawerState" icon="menu"></q-btn>

            <q-toolbar-title>
              Quasar App
              <div slot="subtitle">Running on Quasar v\{{ version }}</div>
            </q-toolbar-title>
          </q-toolbar>
        </q-layout-header>

        <q-layout-drawer v-model="drawerState" content-class="bg-grey-3">
          <q-list no-border link inset-delimiter>
            <q-list-header>Essential Links</q-list-header>
            <q-item @click.native="launch('http://quasar-framework.org')">
              <q-item-side icon="school"></q-item-side>
              <q-item-main label="Docs" sublabel="quasar-framework.org"></q-item-main>
            </q-item>
            <q-item @click.native="launch('http://forum.quasar-framework.org')">
              <q-item-side icon="record_voice_over"></q-item-side>
              <q-item-main label="Forum" sublabel="forum.quasar-framework.org"></q-item-main>
            </q-item>
            <q-item @click.native="launch('https://gitter.im/quasarframework/Lobby')">
              <q-item-side icon="chat"></q-item-side>
              <q-item-main label="Gitter Channel" sublabel="Quasar Lobby"></q-item-main>
            </q-item>
            <q-item @click.native="launch('https://twitter.com/quasarframework')">
              <q-item-side icon="rss feed"></q-item-side>
              <q-item-main label="Twitter" sublabel="@quasarframework"></q-item-main>
            </q-item>
          </q-list>
        </q-layout-drawer>

        <q-page-container>
          <my-page></my-page>
        </q-page-container>
      </q-layout>
    </div>

    <script type="text/x-template" id="my-page">
      <q-page padding>
        <div class="row flex-center absolute-full">
          <img src="quasar-logo-full.svg">
        </div>
      </q-page>
    </script>

    <script src="https://unpkg.com/vue/dist/vue{{#minified}}.min{{/minified}}.js"></script>
    <script src="https://unpkg.com/quasar-framework@0.15.0-alpha.4/dist/quasar.{{ theme }}.umd{{#minified}}.min{{/minified}}.js"></script>

    <script src="main.js"></script>
  </body>
</html>
