<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <title>Quasar App - {{ name }}</title>{{#if_eq icons "material-icons"}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">{{/if_eq}}{{#if_eq icons "material-icons-outlined"}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons+Outlined" rel="stylesheet" type="text/css">{{/if_eq}}{{#if_eq icons "material-icons-round"}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons+Round" rel="stylesheet" type="text/css">{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons+Sharp" rel="stylesheet" type="text/css">{{/if_eq}}{{#if_eq icons "fontawesome"}}
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">{{/if_eq}}{{#if_eq icons "ionicons"}}
    <link href="https://cdn.jsdelivr.net/npm/ionicons@^4.0.0/dist/css/ionicons.min.css" rel="stylesheet">{{/if_eq}}{{#if_eq icons "mdi"}}
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@^3.0.0/css/materialdesignicons.min.css" rel="stylesheet">{{/if_eq}}{{#if_eq icons "eva-icons"}}
    <link href="https://cdn.jsdelivr.net/npm/eva-icons@^1.0.0/style/eva-icons.css" rel="stylesheet">{{/if_eq}}{{#animations}}
    <link href="https://cdn.jsdelivr.net/npm/animate.css@^3.5.2/animate.min.css" rel="stylesheet">{{/animations}}
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/quasar@{{ quasar_version }}/dist/quasar{{#rtl}}.rtl{{/rtl}}{{#minified}}.min{{/minified}}.css" rel="stylesheet" type="text/css">

    <style type="text/css">
      .logo-container {
        width: 255px;
        height: 242px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      .logo {
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="q-app">
      <q-layout view="lHh Lpr fff">
        <q-header elevated class="glossy">
          <q-toolbar>
            <q-btn
              flat
              dense
              round
              @click="drawerState = !drawerState"
              aria-label="Menu"
              icon="{{#if_eq icons "material-icons"}}menu{{/if_eq}}{{#if_eq icons "material-icons-outlined"}}o_menu{{/if_eq}}{{#if_eq icons "material-icons-round"}}r_menu{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}s_menu{{/if_eq}}{{#if_eq icons "fontawesome"}}fas fa-bars{{/if_eq}}{{#if_eq icons "ionicons"}}ion-menu{{/if_eq}}{{#if_eq icons "mdi"}}mdi-menu{{/if_eq}}{{#if_eq icons "eva-icons"}}eva-menu-outline{{/if_eq}}"
            ></q-btn>

            <q-toolbar-title>
              Quasar App
            </q-toolbar-title>

            <div>Quasar v\{{ $q.version }}</div>
          </q-toolbar>
        </q-header>

        <q-drawer
          v-model="drawerState"
          bordered
          content-class="bg-grey-2"
        >
          <q-list>
            <q-item-label header>Essential Links</q-item-label>
            <q-item clickable tag="a" target="_blank" href="https://quasar.dev">
              <q-item-section avatar>
                <q-icon name="{{#if_eq icons "material-icons"}}school{{/if_eq}}{{#if_eq icons "material-icons-outlined"}}o_school{{/if_eq}}{{#if_eq icons "material-icons-round"}}r_school{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}s_school{{/if_eq}}{{#if_eq icons "fontawesome"}}fas fa-graduation-cap{{/if_eq}}{{#if_eq icons "ionicons"}}ion-school{{/if_eq}}{{#if_eq icons "mdi"}}mdi-school{{/if_eq}}{{#if_eq icons "eva-icons"}}eva-book-outline{{/if_eq}}"></q-icon>
              </q-item-section>
              <q-item-section>
                <q-item-label>Docs</q-item-label>
                <q-item-label caption>quasar.dev</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable tag="a" target="_blank" href="https://github.com/quasarframework/">
              <q-item-section avatar>
                <q-icon name="{{#if_eq icons "material-icons"}}code{{/if_eq}}{{#if_eq icons "material-icons-outlined"}}o_code{{/if_eq}}{{#if_eq icons "material-icons-round"}}r_code{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}s_code{{/if_eq}}{{#if_eq icons "fontawesome"}}fas fa-code{{/if_eq}}{{#if_eq icons "ionicons"}}ion-code{{/if_eq}}{{#if_eq icons "mdi"}}mdi-code-tags{{/if_eq}}{{#if_eq icons "eva-icons"}}eva-code-outline{{/if_eq}}"></q-icon>
              </q-item-section>
              <q-item-section>
                <q-item-label>Github</q-item-label>
                <q-item-label caption>github.com/quasarframework</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable tag="a" target="_blank" href="https://chat.quasar.dev">
              <q-item-section avatar>
                <q-icon name="{{#if_eq icons "material-icons"}}chat{{/if_eq}}{{#if_eq icons "material-icons-outlined"}}o_chat{{/if_eq}}{{#if_eq icons "material-icons-round"}}r_chat{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}s_chat{{/if_eq}}{{#if_eq icons "fontawesome"}}fas fa-comments{{/if_eq}}{{#if_eq icons "ionicons"}}ion-chatbubbles{{/if_eq}}{{#if_eq icons "mdi"}}mdi-message-text{{/if_eq}}{{#if_eq icons "eva-icons"}}eva-message-square-outline{{/if_eq}}"></q-icon>
              </q-item-section>
              <q-item-section>
                <q-item-label>Discord Chat Channel</q-item-label>
                <q-item-label caption>chat.quasar.dev</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable tag="a" target="_blank" href="https://forum.quasar.dev">
              <q-item-section avatar>
                <q-icon name="{{#if_eq icons "material-icons"}}forum{{/if_eq}}{{#if_eq icons "material-icons-outlined"}}o_forum{{/if_eq}}{{#if_eq icons "material-icons-round"}}r_forum{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}s_forum{{/if_eq}}{{#if_eq icons "fontawesome"}}far fa-clipboard{{/if_eq}}{{#if_eq icons "ionicons"}}ion-create{{/if_eq}}{{#if_eq icons "mdi"}}mdi-forum{{/if_eq}}{{#if_eq icons "eva-icons"}}eva-edit-2-outline{{/if_eq}}"></q-icon>
              </q-item-section>
              <q-item-section>
                <q-item-label>Forum</q-item-label>
                <q-item-label caption>forum.quasar.dev</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable tag="a" target="_blank" href="https://twitter.com/quasarframework">
              <q-item-section avatar>
                <q-icon name="{{#if_eq icons "material-icons"}}rss_feed{{/if_eq}}{{#if_eq icons "material-icons-outlined"}}o_rss_feed{{/if_eq}}{{#if_eq icons "material-icons-round"}}r_rss_feed{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}s_rss_feed{{/if_eq}}{{#if_eq icons "fontawesome"}}fab fa-twitter{{/if_eq}}{{#if_eq icons "ionicons"}}ion-logo-twitter{{/if_eq}}{{#if_eq icons "mdi"}}mdi-twitter{{/if_eq}}{{#if_eq icons "eva-icons"}}eva-twitter-outline{{/if_eq}}"></q-icon>
              </q-item-section>
              <q-item-section>
                <q-item-label>Twitter</q-item-label>
                <q-item-label caption>@quasarframework</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-drawer>

        <q-page-container>
          <my-page></my-page>
        </q-page-container>
      </q-layout>
    </div>

    <script type="text/x-template" id="my-page">
      <q-page padding>

        <!-- page content; replace this entirely -->
        <div class="row flex-center absolute-full">
          <img src="quasar-logo-full.svg">
        </div>

      </q-page>
    </script>

    {{#ie}}<script src="https://cdn.jsdelivr.net/npm/quasar@{{ quasar_version }}/dist/quasar.ie.polyfills.umd.min.js"></script>{{/ie}}
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue{{#minified}}.min{{/minified}}.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@{{ quasar_version }}/dist/quasar.umd{{#minified}}.min{{/minified}}.js"></script>{{#unless_eq lang "en-us"}}
    <script src="https://cdn.jsdelivr.net/npm/quasar@{{ quasar_version }}/dist/lang/{{lang}}.umd.min.js"></script>{{/unless_eq}}{{#unless_eq icons "material-icons"}}
    <script src="https://cdn.jsdelivr.net/npm/quasar@{{ quasar_version }}/dist/icon-set/{{#if_eq icons "material-icons-outlined"}}material-icons-outlined{{/if_eq}}{{#if_eq icons "material-icons-round"}}material-icons-round{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}material-icons-sharp{{/if_eq}}{{#if_eq icons "fontawesome"}}fontawesome-v5{{/if_eq}}{{#if_eq icons "ionicons"}}ionicons-v4{{/if_eq}}{{#if_eq icons "mdi"}}mdi-v3{{/if_eq}}{{#if_eq icons "eva-icons"}}eva-icons{{/if_eq}}.umd.min.js"></script>{{/unless_eq}}

    <script>
      {{#unless_eq lang "en-us"}}Quasar.lang.set(Quasar.lang.{{camel_case lang}})
      {{/unless_eq}}{{#unless_eq icons "material-icons"}}Quasar.iconSet.set(Quasar.iconSet.{{#if_eq icons "material-icons-outlined"}}materialIconsOutlined{{/if_eq}}{{#if_eq icons "material-icons-round"}}materialIconsRound{{/if_eq}}{{#if_eq icons "material-icons-sharp"}}materialIconsSharp{{/if_eq}}{{#if_eq icons "fontawesome"}}fontawesomeV5{{/if_eq}}{{#if_eq icons "ionicons"}}ioniconsV4{{/if_eq}}{{#if_eq icons "mdi"}}mdiV3{{/if_eq}}{{#if_eq icons "eva-icons"}}evaIcons{{/if_eq}})
      {{/unless_eq}}

      Vue.component('my-page', {
        template: '#my-page'
      })

      new Vue({
        el: '#q-app',
        data: function () {
          return {
            version: Quasar.version,
            drawerState: true
          }
        }
      })
    </script>
  </body>
</html>
